@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* 
SemiBold 600
Bold 700 
ExtraBold 800
*/

/*------------
общие стили
-------------*/

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    background-color: #202020;
    color: #959595;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.5px;

}

img {
  max-width: 100%;
}

a {
    color: #DEDEDE;
    text-decoration: none;
    transition: opacity 0.3s;
}

a:hover {
    opacity: 0.6;
}



.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding:  0 15px;
}

.logo {
    font-weight: 800;

    display: flex;
    align-items: center;
    gap: 10px;
}

.logo > img {
  width: 150px;
}

.title {
    margin-top: 0;
    font-size: 36px;
    text-align: center;
    color: #DEDEDE;
  }

.btn {
    font-size: 18px;
    color: #fff;
 
    border-radius: 4px;
    padding: 16px 48px;
    background: #9d9d9d;
 
    display: inline-flex;
    align-items: center;
    gap: 10px;
 }
 
 .btn:hover {
     opacity: 0.8;
 }
 
 .btn::before {
     content: "";
     width: 21px;
     height: 21px;
 
     background-image: url("./images/mail.svg");
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
 }

 .burger-menu {
  display: none;
}
  /*------------
     header
-------------*/

.header {
    padding: 20px 0;
    backdrop-filter: blur(10px);
    background: rgba(181, 178, 178, 0.7);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav {
    display: flex;
    gap: 60px;
}

.header_link {     
   font-weight: 700;
   font-size: 18px;
}

  /*------------
     main
-------------*/


  /*------------
     welcome
-------------*/

.welcome {
    margin-top: 160px;
}

.welcome .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.welcome_title {
   width: 500px;
   margin-bottom: 24px;
   margin-top: 0;

   font-weight: 700;
   font-size: 54px;
   line-height: 1.19;
   color: #dedede;
   
}

.welcome_text {
   width: 395px;
   margin-bottom: 88px;
}


.welccome_img {
   width: 400px;
   height: 400px;
   border-radius: 50%;
   margin-right: 70px;

   object-fit: cover;
   object-position: center;
}


  /*------------
     works
-------------*/


.works {
  margin-top: 143px;
}

.works_btn {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin-bottom: 80px;

  font-family: 'Manrope';
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #DEDEDE;
  
  background-color: transparent;
  border: none;
  opacity: 0.7;
}

.works_wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 25px;
   padding-top: 140px;
}

.work {
  height: 888px;
  /* height: 700px; */
  position: relative;
}

.work:nth-child(old) {
   /* position: relative; */
   margin-top: -140px;
}


.work:hover {
    opacity: 1;
}

.work_img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.work_name {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity  0.3s;   

  font-weight: 700;
  font-size: 40px;
}


.work:hover .work_name {
    opacity: 1;
}


  /*------------
     projects
-------------*/


.projects {
  margin-top: 200px;
}

.projects_title {
   margin-bottom: 65px;
}

.projects_wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.progects-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.projects--vertical .progects-img {
    height: 560px;
}


  /*------------
     contact
-------------*/


.contact {
   /* margin-top: 200px; */
   margin-bottom: 120px;
}

.contact .container {
   max-width: 520px;
   text-align: center;
}

.contact_title {
   margin-bottom: 24px;
}

.contact_text {
    margin-bottom: 50px;
   font-size: 26px;
}

  /*------------
     footer
-------------*/

.footer {
  padding: 40px 0;
  border-top: 1px solid #696969;
} 

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer_copy {
  font-size: 16px;
  margin: 0;
} 

.footer_copy span {
  color: #ececec;
}

.socials {
  display: flex;
  gap: 40px;
}


/* .socials_img {
  display: flex;
}  */


  /*------------
     media
-------------*/

@media (max-width: 1100px) {
  .welcome_img {
    margin-top: 0;
  }
}

@media (max-width: 950px) {

  .welcome {
    margin-top: 70px;
  }

  .welcome .container { 
   flex-direction: column-reverse;
   gap: 65px;
  }
  .welcome_title {
    width: auto;
  }
  .welcome_text {
    width: auto;
    margin-bottom: 50px;
  }

  .welcome_desc {
    text-align: center;
  }
  .work {
    height: 600px;
  }

  .work__name {
    opacity: 1;
  }
}

@media (max-width: 850px){
  .progects-img {
    height: 300px;
    width: 300px;
  }

  .works, .projects, .contact {
    margin-top: 100px;
  } 
}

@media (max-width: 770px) {
  .welcome_title{
    font-size: 36px;
  }
}

@media (max-width: 700px) {
  .footer .container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 35px;
  }

  .logo {
    width: 80px;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgba(181, 178, 178, 0.9);
  }

  .burger-menu {
    display: block;
    background-color: transparent;
    padding: 0;
    border: none;

    position: absolute;
    top: 29px;
    right: 15px;
  }
  
  .burger-menu__icon {
    height: 24px;
    width: 30px;
    object-fit: contain;
    object-position: center;
  }

  .header_nav {
    display: none;
  }

  .header.header--mobile .header_nav {
    display: flex;
    /* flex-direction: column; */
    /* gap: 20px; */
    align-self: center;
    flex-wrap: wrap;
    gap: 20px 30px;
    justify-content: center;
  }

  .header.header--mobile .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

}

@media (max-width: 650px) {
  .progects-img {
   width: 100%;
   height: 360px;
  }

  .works_wrapper {
    grid-template-columns: 1fr;
  }
.work:ntf-child(odd){ 
  margin-top: 0;
}

.works_wrapper {
  padding-top: 0;
}
}

@media (max-width: 500px) {
  
  .welccome_img {
    width: 240px;
    height: 240px;
  }
    
  .btn {
    padding: 16px 20px;
  }

  .works_btn {
    margin-bottom: 40px;
  }

  .work_name {
    font-size: 28px;
  }

  .title {
    font-size: 28px;
  }
  
  .projects_title {
   margin-bottom: 35px;
  }

  .contact_title {
    margin-bottom: 12px;
  }

  .contact .container {
    max-width: 270px;
  }

  .contact_text {
    font-size: 18px;
  }
  .contact {
    margin-bottom: 100px;
  }
}

@media (max-width: 420px) {
  .welcome_title {
   font-size: 26px ;
  }
}
